# Options and Settings

In [2]:
import pandas as pd 
import numpy as np

## Changing Options with Attributes and Dot Syntax

rand integers from 0 to 1000, and the array size we want to return \
 (from, to, [rows, columns])

In [4]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
997,59,60,19,31,21,49,70,36,99,70,...,85,27,98,7,38,67,2,68,53,41
998,28,32,5,61,60,23,6,64,31,65,...,96,68,71,74,32,30,71,6,24,68
999,60,95,17,20,78,6,27,48,20,38,...,89,85,17,74,30,46,87,80,0,47

Setting how many rows will be shown in the DataFrame

In [8]:
pd.options.display.max_rows = 18

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,91,49,70,7,38,46,13,36,61,15,...,38,37,39,97,57,72,19,97,94,79
1,28,69,92,12,86,12,92,25,64,98,...,40,23,33,17,0,80,11,42,39,1
2,29,50,92,82,74,6,98,85,72,6,...,91,98,13,72,18,78,48,6,10,52
3,64,71,24,69,81,45,28,65,44,22,...,36,8,32,70,83,99,99,57,53,79
4,50,81,11,90,78,3,36,5,45,22,...,47,5,85,88,48,73,9,91,51,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,93,16,8,26,10,4,20,26,12,38,...,50,51,55,17,4,25,72,8,54,55
996,8,5,65,3,68,27,18,38,87,45,...,45,6,74,23,60,95,7,23,81,59
997,59,60,19,31,21,49,70,36,99,70,...,85,27,98,7,38,67,2,68,53,41
998,28,32,5,61,60,23,6,64,31,65,...,96,68,71,74,32,30,71,6,24,68
999,60,95,17,20,78,6,27,48,20,38,...,89,85,17,74,30,46,87,80,0,47

In [10]:
pd.options.display.max_rows = 5

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,91,49,70,7,38,46,13,36,61,15,...,38,37,39,97,57,72,19,97,94,79
1,28,69,92,12,86,12,92,25,64,98,...,40,23,33,17,0,80,11,42,39,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,28,32,5,61,60,23,6,64,31,65,...,96,68,71,74,32,30,71,6,24,68
999,60,95,17,20,78,6,27,48,20,38,...,89,85,17,74,30,46,87,80,0,47

In [7]:
pd.options.display.max_columns

20

In [15]:
pd.options.display.max_columns = 4

In [16]:
df

     0   1   ...  48  49
0    91  49  ...  94  79
1    28  69  ...  39   1
..   ..  ..  ...  ..  ..
998  28  32  ...  24  68
999  60  95  ...   0  47

[1000 rows x 50 columns]